<div class="about">
<div class="container">
		<h2>About</h2>		
<div class="biography">
		<div class="biographys">
			<div class="col-md-4 biography-info">
				<%= image_tag("profile_small.jpg", class: "img-responsive") %>
			</div>
			<div class="col-md-8 biography-into">
				<h4>Gergely Szabo</h4>
				<p>
					Hi, I am Greg, this is one of my projects I am creating as a web developer. The engine is Ruby on Rails, I am implementing authentication, authorization, tags and comments. You can create new post just to fill out a new blog post form and the rest is done by the application. The page is being coded, not fully functional yet.
				</p>
				<a href="https://gergely-szabo.bitballoon.com" class="link" target="_blank">You should see my portfolio site!</a>
			</div>
					<div class="clearfix"> </div>
	</div>
		
</div>
	</div>
	</div>