<h1>StaticPages#index</h1>
<p>Istanbul, Turkey (CNN)The Syrian government and opposition rebels have agreed terms for a ceasefire in the country's long-running civil war, Vladimir Putin announced.<br>

According to Russian state media TASS, Putin said that the two sides had also agreed to enter peace talks to end the conflict that has raged for nearly six years.
Istanbul, Turkey (CNN)The Syrian government and opposition rebels have agreed terms for a ceasefire in the country's long-running civil war, Vladimir Putin announced.<br>

According to Russian state media TASS, Putin said that the two sides had also agreed to enter peace talks to end the conflict that has raged for nearly six years.
Istanbul, Turkey (CNN)The Syrian government and opposition rebels have agreed terms for a ceasefire in the country's long-running civil war, Vladimir Putin announced.<br>

According to Russian state media TASS, Putin said that the two sides had also agreed to enter peace talks to end the conflict that has raged for nearly six years.
Istanbul, Turkey (CNN)The Syrian government and opposition rebels have agreed terms for a ceasefire in the country's long-running civil war, Vladimir Putin announced.<br>

According to Russian state media TASS, Putin said that the two sides had also agreed to enter peace talks to end the conflict that has raged for nearly six years.</p>
