<div class="container">
	<h1>BlogNews Today</h1>
	<h3>Read our newest blogs below</h3>

	<!-- Shows the 5 newest blog entries automatically -->
	<p>Blog news 1</p>
	<p>Blog news 2</p>
	<p>Blog news 3</p>
	<p>Blog news 4</p>
	<p>Blog news 5</p>
</div>