// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-frame {
	margin-bottom: 50px;
	height: 420px;
	overflow: hidden;
}

@media(max-width: 376px) {
	.blog-frame {
		height: 450px;
	}
}

@media(max-width: 321px) {
	.blog-frame {
		height: 535px;
	}
}

#new-article {
	margin-top: 5px;

	a {
		color: white;
	}

		:visited, :link {
			color: white;
			text-decoration: none;
		}
}

.center-page {
	width: 70%;
	margin: auto;
}